.main{
    background-color: rgb(218, 180, 180);
    /* margin-top: 15px; */
}

.verification{
    margin-top: 8px;
}


.buttoncart{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.buttons{
    margin-top: ;
    display: flex;
    justify-content: space-between;
}