.sms{
    background-color: #f5f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    box-shadow: 15px 9px 25px rgb(0 0 0 / 50%);
}

.button{
    outline: none;
  border: none;
  background-color: #03dac5;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;
  width: 144px;
    margin-top: 5px;
}


.smsInput{
    outline: none;
    border-radius: 5px;
    border: 1px solid #03dac5;
    
}
.smsInput:focus{
    outline: none;
    border-radius: 5px;
    border: 2px solid #03dac5;
    outline: none;
    
}

@media(max-width:1000px){
    .sms{
        width: 50%;
    }
}

@media(max-width:800px){
    .sms{
        width: 60%;
    }
}

@media(max-width:500px){
    .sms{
        width: 70%;
    }
}
h3{
    margin: 0;
    margin-top: 11px;
    margin-bottom: 5px;
}